.idea
.vscode
.env
.env.example
.env.local
.env.development.local
.env.test.local


/server/__pycache__
/server/outputs
/server/templates
/server/generated_images
/server/minimaxi_videos
/server/videos



/server/.env